# Ignore compiled Python files
__pycache__/

models/model_1/

models/model_3/

models/model_5/
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyz
.env
.ipynb_checkpoints/
.idea/
.vscode/
environment.net.xml
episode_routes.rou.xml
sumo_config.sumocfg